 <ion-slides fullscreen scroll-y="false" pager="true" [options]="slideOpts">
  <!-- - pager='true', to make the paging bubbles appear 
       - slideOpts to define in TS which slide appears first, the transition speed etc ...-->
    <ion-slide>
      <img src="./assets/img/slide-3.png" />
      <h2>Au Calme</h2>
      <p>
        <b>OKLM</b> , c'est un site qui vous permet de trouver des informations sur les activités de la ville de <b>Lorem Ipsum</b>
      </p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/img/slide-4.png" />
      <h2>Prêt à faire de la magie ?</h2>
      <ion-toolbar>
      <ion-buttons class="ion-justify-content-center">
      <ion-back-button text="" icon="arrow-forward"
      defaultHref="home" fill="clear"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    </ion-slide>
</ion-slides>