 <ion-slides fullscreen scroll-y="false" pager="true" [options]="slideOpts">
  <!-- - pager='true', to make the paging bubbles appear 
       - slideOpts to define in TS which slide appears first, the transition speed etc ...-->
    <ion-slide>
      <img src="./assets/img/slide-2.png" />
      <h2>What is Ionic?</h2>
      <p>
        <b>Ionic Framework</b> avec ça tu vas pouvoir frimer et mettre en place un front responsive rapidement avec des components UI qui plaisantent pas !
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/slide-3.png" />
      <h2>Tête de mongolfière</h2>
      <p>
        <b>Syndrome</b> , Ionic est tellement puissant qu'il ne faudrais pas que tu ai rapidement la grosse tête en te rendant compte de la puissance que tu as à portée de main !
      </p>
    </ion-slide>

    <ion-slide>
      <img src="./assets/img/slide-4.png" />
      <h2>Prêt à faire de la magie ?</h2>
      <ion-toolbar>
      <ion-buttons class="ion-justify-content-center">
      <ion-back-button text="" icon="arrow-forward"
      defaultHref="home" fill="clear"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    </ion-slide>
</ion-slides>