<!-- Side Navbar only if you are'nt on desktop or an ipad -->
<ion-menu *ngIf="!isDesktop" side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary" translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="false">
        <ion-item button routerLink='/home' detail="false">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle> <ion-menu-toggle autoHide="false">
        <ion-item button href="https://ionicframework.com/docs/components" target="_blank" detail="false">
          <ion-icon slot="start" name="logo-ionic"></ion-icon>
          <ion-label>Ionic UI-Component</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list lines="none">
      <ion-menu-toggle autoHide="false">
        <ion-item button routerLink='/tutorial' detail="false">
          <ion-icon slot="start" name="easel-outline"></ion-icon>
          <ion-label>Présentation</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Horizontal navbar for mobile vue -->
<div *ngIf="!isDesktop" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <ion-title>BeerusIonic-Starter <ion-icon name="code-outline"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<!-- Horizontal navbar for Desktop && Ipad vue -->
<div *ngIf="isDesktop">
  <ion-header>
     <ion-toolbar color="primary">
       <!-- If you want to have sidenav menu and burger button on Desktop vue discomment the line below and add id="main-content" on div tag
            and after delete *ngIf line 2 -->
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-title class="ion-text-left">Starter DESKTOP <ion-icon name="code-outline"></ion-icon></ion-title>
        </ion-col>
        <ion-col size="8" class="ion-text-center desktopNavBtn">
          <ion-button fill="clear" routerLink="/home">Home <ion-icon name="home-outline"></ion-icon></ion-button>
          <ion-button fill="clear" routerLink="/tutorial">Tutoriel <ion-icon name="code-outline"></ion-icon></ion-button>
          <ion-button fill="clear">A Propos <ion-icon name="help-circle-outline"></ion-icon></ion-button>
          <ion-button fill="clear">Contact <ion-icon name="accessibility-outline"></ion-icon></ion-button>
          <ion-button fill="clear">Connexion <ion-icon name="log-in-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
</div>